<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/stockvente</property>
    <property name="hibernate.connection.username">hydreap</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.password">totolap1</property>
    <mapping resource="modele/Prixproduit.hbm.xml"/>
    <mapping resource="modele/Client.hbm.xml"/>
    <mapping resource="modele/Contient.hbm.xml"/>
    <mapping resource="modele/Produit.hbm.xml"/>
    <mapping resource="modele/Facture.hbm.xml"/>
    <mapping resource="modele/Fournisseur.hbm.xml"/>
    <mapping resource="modele/Stockproduit.hbm.xml"/>
    <mapping resource="modele/Utilisateur.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
